<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4F34A21A187CCBB50012E91E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F5566C71862981000D6D62C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4FA025611BB21EAB00BB255C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4FEE14261BB22328002ACBF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8EC5668C18AAFB1200E2C97D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8EC566A418AAFB1200E2C97D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
